# This file specifies files that are *not* uploaded to Google Cloud.
# It follows the same syntax as .gitignore, with "#!include" support.
# For more information: https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

# Never upload these
.gcloudignore
.git
.gitignore

# Reuse .gitignore rules for dev/build artifacts, then override for deployment
#!include:.gitignore
!dist
!app.yaml
